@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  max-width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  font-size: 0.5208333333vw;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #21424E;
  font-family: "Quicksand", sans-serif;
  line-height: normal;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
 not supported by any browser */
}

.container {
  max-width: 121.2rem;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
}
@media (max-width: 121.2rem) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.page1 {
  background: url(../IMG/Background/phone\ pic1.png) no-repeat center center;
  background-size: cover;
  max-height: 81vh;
}
.page1__photo {
  padding-top: 6vh;
}
.page1 .myphoto {
  width: 240px;
  height: 310px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 968px) {
  .page1 .myphoto {
    width: 215px;
    height: 275px;
  }
}
@media (max-width: 504px) {
  .page1 .myphoto {
    width: 175px;
    height: 220px;
  }
}
.page1__title {
  padding-top: 2vh;
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
}
@media (max-width: 968px) {
  .page1__title {
    font-size: 28px;
  }
}
@media (max-width: 504px) {
  .page1__title {
    font-size: 20px;
  }
}
.page1__subtitle {
  padding-top: 1vh;
}
.page1__subtitle::after {
  content: url(../IMG/Icons/Line\ mob.svg);
  display: block;
  padding-bottom: 3vh;
}
@media (max-width: 968px) {
  .page1__subtitle::after {
    content: url(../IMG/Icons/Line\ mob.svg);
    display: block;
  }
}

.titleimp {
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
}
@media (max-width: 968px) {
  .titleimp {
    font-size: 30px;
  }
}
@media (max-width: 504px) {
  .titleimp {
    font-size: 24px;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0 -13px;
}
@media (max-width: 968px) {
  .menu {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }
}

@media (max-width: 968px) {
  li.menu-li {
    padding-top: 15px;
  }
  li.menu-li:first-child {
    padding-top: 0px;
  }
}
@media (max-width: 504px) {
  li.menu-li {
    padding-top: 10px;
  }
  li.menu-li:first-child {
    padding-top: 0px;
  }
}

.about {
  color: #21424E;
  padding: 10px 17px;
  margin: 0 13px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.about:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media (max-width: 968px) {
  .about {
    padding: 5px 15px;
  }
}

.education {
  color: #21424E;
  padding: 10px 17px;
  margin: 0 13px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.education:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media (max-width: 968px) {
  .education {
    padding: 5px 15px;
  }
}

.experience {
  color: #21424E;
  padding: 10px 17px;
  margin: 0 13px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.experience:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media (max-width: 968px) {
  .experience {
    padding: 5px 15px;
  }
}

.projects {
  color: #21424E;
  padding: 10px 17px;
  margin: 0 13px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.projects:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media (max-width: 968px) {
  .projects {
    padding: 5px 15px;
  }
}

.feedback {
  color: #21424E;
  padding: 10px 17px;
  margin: 0 13px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.feedback:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media (max-width: 968px) {
  .feedback {
    padding: 5px 15px;
  }
}

.contacts {
  color: #21424E;
  padding: 10px 17px;
  margin: 0 13px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.contacts:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media (max-width: 968px) {
  .contacts {
    padding: 5px 15px;
  }
}

.page2 {
  background: url(../IMG/Background/phone_pic2.png) no-repeat center center;
  background-size: cover;
  height: 120vh;
  width: 100vw;
}
@media (max-width: 968px) {
  .page2 {
    height: 400px;
  }
}
.page2__title {
  padding-top: 200px;
}
@media (max-width: 968px) {
  .page2__title {
    font-size: 32px;
    padding-top: 80px;
  }
}
@media (max-width: 504px) {
  .page2__title {
    font-size: 26px;
    padding-top: 40px;
  }
}
.page2__row {
  display: flex;
  margin-top: 70px;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 968px) {
  .page2__row {
    margin-top: 20px;
  }
}
@media (max-width: 715px) {
  .page2__row {
    flex-wrap: wrap;
    margin-top: 15px;
  }
}
.page2__column {
  margin: 0 20px 0 0;
  padding: 10px 17px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.page2__column:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.page2__column5 {
  padding: 10px 17px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.page2__column5:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.header {
  background-color: rgba(241, 219, 230, 0.6);
  height: 19vh;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
}
@media (max-width: 968px) {
  .header {
    background-color: rgb(241, 219, 230);
    height: 250px;
    position: static;
    z-index: 50;
  }
}

.main {
  font-size: 28px;
  font-weight: 500;
}
@media (max-width: 968px) {
  .main {
    font-size: 18px;
    font-weight: 500;
  }
}

.normal {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 968px) {
  .normal {
    font-size: 16px;
    font-weight: 600;
  }
}

.description {
  padding-top: 20px;
}
@media (max-width: 504px) {
  .description {
    padding-top: 10px;
  }
}

.footer {
  background-color: rgba(241, 219, 230, 0.6);
}
@media (max-width: 790px) {
  .footer {
    height: 120px;
  }
}
.footer__contentf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 33.333%;
}
@media (max-width: 790px) {
  .footer__contentf {
    flex-direction: column;
  }
}
.footer__none {
  width: 250px;
  height: 70px;
}
@media (max-width: 790px) {
  .footer__none {
    display: none;
  }
}
.footer__contacts {
  display: flex;
}
@media (max-width: 790px) {
  .footer__contacts {
    padding-top: 15px;
  }
}

.icon {
  margin: 0 5px 0 0;
  padding: 10px 13px;
  border: 1px solid transparent;
  border-radius: 50px;
}
.icon:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 50px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.link {
  width: 50px;
  height: 50px;
}

.authorrights {
  display: flex;
}
@media (max-width: 790px) {
  .authorrights {
    padding-top: 5px;
  }
}

.page3 {
  background-color: #F5F5F5;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 968px) {
  .page3 {
    height: 650px;
  }
}
@media (max-width: 555px) {
  .page3 {
    height: 550px;
  }
}
.page3__title {
  padding-top: 5px;
  color: #21424E;
}
@media (max-width: 968px) {
  .page3__title {
    padding: 35px 0 20px;
  }
}

.photo {
  z-index: 0;
  width: 500px;
  height: 400px;
}
@media (max-width: 980px) {
  .photo {
    width: 450px;
    height: 350px;
  }
}
@media (max-width: 560px) {
  .photo {
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 390px) {
  .photo {
    width: 260px;
    height: 210px;
  }
}

.photo2 {
  z-index: 0;
  width: 510px;
  height: 300px;
}
@media (max-width: 568px) {
  .photo2 {
    width: 310px;
    height: 200px;
  }
}
@media (max-width: 390px) {
  .photo2 {
    width: 250px;
    height: 170px;
  }
}

.text {
  font-size: 20px;
}
@media (max-width: 968px) {
  .text {
    font-size: 18px;
    font-weight: 600;
  }
}

.slider {
  padding-top: 85px;
}
@media (max-width: 968px) {
  .slider {
    padding-top: 5px;
  }
}

/* Основные стили */
/* Слайдер Важно! Если внутри флекс-контейнера*/
.slick-slider {
  min-width: 0;
}

.slick-slider2 {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
  position: relative;
  text-align: center;
}

.slider2 {
  position: relative;
  text-align: center;
}

@media (max-width: 767px) {
  .slider {
    padding: 5px 20px;
  }
  .slider2 {
    padding: 5px 20px;
  }
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
  margin: -30px 0 0 0;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../IMG/Icons/arrow_left.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../IMG/Icons/arrow_right.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #21424E;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #21424E;
}

.slider__item {
  padding: 0px 15px;
}

.slider2__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 100%;
}

.slider2__item img {
  max-width: 100%;
}

.page4 {
  background: url(../IMG/Background/phone\ pic1_fade.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 590px) {
  .page4 {
    height: 800px;
  }
}
@media (max-width: 515px) {
  .page4 {
    height: 850px;
  }
}
@media (max-width: 375px) {
  .page4 {
    height: 870px;
  }
}
.page4__title {
  padding-top: 80px;
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
}
@media (max-width: 968px) {
  .page4__title {
    font-size: 28px;
  }
}
@media (max-width: 504px) {
  .page4__title {
    font-size: 20px;
    padding-top: 60px;
  }
}
.page4__subtitle {
  padding-top: 180px;
}
@media (max-width: 968px) {
  .page4__subtitle {
    padding-top: 100px;
  }
}
@media (max-width: 504px) {
  .page4__subtitle {
    padding: 30px 10px 0;
  }
}
.page4__rowbg {
  display: flex;
  margin-top: 30px;
  padding: 0 20px 0;
  flex: 0 0 50%;
  background-color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 515px) {
  .page4__rowbg {
    flex-wrap: wrap;
    padding: 10px 20px;
  }
}
.page4__job {
  text-align: center;
  margin: 0 20px;
}
@media (max-width: 504px) {
  .page4__job {
    padding: 10px 0;
  }
}
.page4__position {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 10px;
}
@media (max-width: 968px) {
  .page4__position {
    font-size: 20px;
  }
}
@media (max-width: 504px) {
  .page4__position {
    font-size: 18px;
    padding-top: none;
  }
}
.page4__rowsm {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 30px;
  padding: 0 20px 0;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
@media (max-width: 968px) {
  .page4__rowsm {
    flex-wrap: wrap;
    padding: 10px 20px;
  }
}
.page4__item {
  text-align: center;
  margin: 0 5px;
  padding: 10px 10px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.page4__item:hover {
  background-color: rgba(228, 217, 223, 0.8);
  border: 1px solid #21424E;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.heading {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}
@media (max-width: 968px) {
  .heading {
    font-size: 20px;
  }
}
@media (max-width: 504px) {
  .heading {
    font-size: 16px;
    padding-top: none;
  }
}

.key {
  padding-top: 50px;
}

.page5 {
  background-color: #F5F5F5;
  height: 700px;
  width: 100vw;
}
@media (max-width: 968px) {
  .page5 {
    height: 600px;
  }
}
@media (max-width: 568px) {
  .page5 {
    height: 500px;
  }
}
.page5__title {
  color: #21424E;
}
@media (max-width: 968px) {
  .page5__title {
    padding: 35px 0 20px 0;
  }
}

.slider2 {
  padding-top: 150px;
}
@media (max-width: 968px) {
  .slider2 {
    padding-top: 5px;
  }
}

a {
  color: #21424E;
}

.plink {
  padding-top: 20px;
}

.page6 {
  background: url(../IMG/Background/phone\ pic1_fade.png) no-repeat center center;
  background-size: cover;
  height: 580px;
  width: 100vw;
  /*@media(max-width:968px){
        height:500px;
        }*/
}
.page6__title {
  padding: 170px 20px 0 20px;
}
@media (max-width: 968px) {
  .page6__title {
    padding-top: 100px;
  }
}

.slider3 {
  padding-top: 50px;
  flex: 0 0 auto;
}

.author {
  padding: 20px 30px 0 30px;
  text-align: right;
  font-weight: 400;
}

.titlehide {
  opacity: 0;
}
@media (max-width: 968px) {
  .titlehide {
    opacity: 100;
  }
}

#button {
  position: fixed;
  bottom: 130px;
  z-index: 100;
  right: 5px;
  width: 45px;
  height: 45px;
  opacity: 0;
  opacity: 0;
  visibility: hidden;
}

.up {
  width: 45px;
  height: 45px;
}

.feedb {
  padding: 0 30px;
}

/*      #button:hover {
      cursor: pointer;
      background-color:  rgba(228, 217, 223, 0.8) ;
      }*/
#button.show {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */